.dashboard {
    /* border: 1px solid black; */
    display: flex;

    justify-content: center;
    gap: 40px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;

}

.profile {

    width: 300px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}

.content {

    width: 1000px;
    height: 1200px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.others {

    width: 300px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.profile-image{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    margin-left: 50px;
}